# Deep learning
This notebook is responsible for implementing a recurrent neural network using TensorFlow.

## Database credentials

In [1]:
db_user = ""
db_pass = ""
db_name = ""
db_host = "localhost"
with open("database_credentials.txt") as f:
    db_user = f.readline().strip()
    db_pass = f.readline().strip()
    db_name = f.readline().strip()

## Dataframe-ize tweets

In [2]:
import MySQLdb as mdb
import numpy as np
import pandas as pd

In [3]:
try:
    con = mdb.connect(host=db_host, user=db_user, passwd=db_pass, db=db_name)
    df = pd.read_sql("""SELECT * FROM search_tweets""", con)
finally:
    if con:
        con.close()
df.head()

   id                                            message
0   1  Great meeting with @Cabinet at the @WhiteHouse...
1   2  Looking forward to 3:30 P.M. meeting today at ...
2   3  Lowest rated Oscars in HISTORY. Problem is, we...
3   4                            JOBS, JOBS, JOBS! #MAGA
4   5  The U.S. is acting swiftly on Intellectual Pro...